*{background-color:black; color:rgb(255, 255, 255); font-family:"Rajdhani"; font-weight:200;
        margin:0; padding:0; font-size:16px;}

body{margin-left:11%; margin-right:11%;}

header{margin-top:50px; padding:0;}
nav{width:max-content}
    nav ul{list-style: none;}
    nav li{display:inline; padding-right:100px;}
    nav a{text-decoration: none; color:rgb(125,125,125)}
    nav a:hover{cursor: pointer; color:rgb(215,215,215)}


main{margin-top:11%; margin-bottom:15%;}

    #time-div{text-align:right;}
        #time-div p{font-size: 18px;}
    #name-div{margin-top:11%; margin-bottom:2%;}
        #name-div p{font-size:45px; font-weight:500;}
    #links-div{}
        #links-div ul{list-style:none;}
        #links-div li{margin-top:1%;}
        #links-div a{text-decoration:none; font-size: 18px; color:rgb(150,150,150); font-weight:400;}
        #links-div a:hover {cursor:pointer; color:rgb(225,225,225)}

footer{}
    @keyframes blink {
        0%, 100%{opacity: 1;}
        70%{opacity:0.25;}
    }

    #mywork-div{text-align:center; width:max-content; margin:auto;}
    #mywork-div p{font-size:16px; animation: blink 2s infinite;}

    #scrolldown-div{text-align:center; width:max-content; margin:auto;}
    #scrolldown-div p{font-size:20px; transform: rotate(180deg); animation: blink 2s infinite;}


 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {

    body{margin-left:10%; margin-right:5%;}
    header{margin-top:35px;}

    main{margin-top:20%; margin-bottom:20%;}
    #time-div p {font-size: 14px;}
    #name-div{margin-top:20%}
    #name-div p {font-size: 30px; font-weight: 400; }
    #links-div a {font-size: 14px;}
    #mywork-div p {font-size: 14px;}
    #scrolldown-div p {font-size: 18px;}
}

  
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 600px) and (max-width: 768px) {

    body{margin-left:10%; margin-right:5%;}
    header{margin-top:35px;}
    main{margin-top:25%; margin-bottom:35%;}
    #name-div{margin-top:20%}
    #name-div p {font-size: 35px; font-weight: 400; }
    #links-div a {font-size: 18px;}
    #mywork-div p {font-size: 16px;}
    #scrolldown-div p {font-size: 18px;}


 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {...}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {...} 