*{background-color:black; color:white; font-family:"Rajdhani"; font-weight:200;
    margin:0; padding:0;}

body{margin-left:150px; margin-right:150px;}

header{margin-top:55px; padding:0;}
nav{width:max-content}
    nav ul{list-style: none;}
    nav li{display:inline; padding-right:100px;}
    nav a{text-decoration: none; color:rgb(85,85,85)}
    nav a:hover{cursor: pointer; color:rgb(185,185,185)}
    

main{margin-top:100px;}

    #view-github{margin-bottom:50px; text-align: right;}
    #view-github a{color:rgb(125,125,125); text-align:right; margin-bottom:50px; text-decoration:underline;}
    #view-github a:hover{color:rgb(185,185,185); cursor:pointer;}

    
    #project-div{margin-bottom:110px;}
    .h3{font-size:25px; text-decoration: underline; margin-bottom:20px;}

        #inst326-div{margin-bottom:60px; display: flex;}
        #inst326-div p{color:rgb(225, 225, 225); line-height:30px;}
            .insttitle-div{margin-right:10px; margin-top:10px; width:150px;}
            .insttitle-div p{font-size:18px;}
            #github-view{font-size:14px; color:rgb(85, 85, 85);}
            #github-view a{font-size:14px; color:rgb(85, 85, 85); text-decoration: none;}
            #github-view a:hover{font-size:14px; color:rgb(100, 100, 100); text-decoration: underline;}

            .projectdescription-div{width:700px;}
            .projectdescription-div p{}


        #gddtoolkit-div{margin-bottom:60px; display:flex;}
        #gddtoolkit-div p{color:rgb(185, 185, 185); line-height: 30px;}
            .gddtitle-div{margin-right:5px; margin-top:20px; width:250px;}
            .gddtitle-div p{font-size:18px;}
            #course{font-size:14px;}
            .projectdescription-div{width:700px;}
            .projectdescription-div p{}


        #sdtools-div{margin-bottom:80px;}
        #sdtools-div p{}
            #sdtoolsmain-div{display:flex;}
            #sdtoolsmain-div p{color:rgb(185,185,185); line-height: 30px;}
                    .sdtitle-div{margin-right:5px; margin-top:10px; width:180px;}
                    .sdtitle-div p{font-size:18px;}
                        #course{font-size:14px;}
                    .projectdescription-div{width:700px; margin-bottom: 10px;}
                    .projectdescription-div p{}
            #sdtoolsimg-div{margin-left:75px;}
                #sdimg{height:600px;}
                #sdimg:hover{cursor:pointer; transform: scale(1.05); transition:1s ease-in-out;}


        #priview-div{margin-bottom:60px;}
        #priview-div p{}
            #priviewmain-div{display:flex; margin-bottom:20px;}
            #priviewmain-div p{color:rgb(185,185,185); line-height: 30px;}
                .priviewtitle-div{margin-right:2.5px; margin-top:7.5px; width:70px;}
                .priviewtitle-div p{font-size:18px;}
                    #course{font-size:14px;}
                .projectdescription-div{width:700px; margin-bottom: 10px;}
                .projectdescription-div p{}

            #priviewimg-div{margin-left:25px; display:flex;}

                #priviewimage1{width:275px; background:black; padding:5px; background:none;
                    filter: drop-shadow(0px 0px 10px rgb(44, 16, 154));}
                #priviewimage1:hover{cursor:pointer; transition:1.25s; transform:scale(1.15);
                    filter: drop-shadow(0px 12px 30px rgb(44, 16, 154));} #priviewimage1Div{z-index:2;}
            
                #priviewimage2{width:275px; background:black; padding:5px; background:none; transform:scale(1.05);
                    filter: drop-shadow(0px 0px 10px rgb(44, 16, 154));z-index:1;}
                #priviewimage2:hover{cursor:pointer; transition:1s; transform:scale(1.10);
                    filter: drop-shadow(0px 12px 30px rgb(44, 16, 154));} 

                #priviewimage3{width:275px; background:black; padding:5px; background:none; 
                    filter: drop-shadow(0px 0px 10px rgb(44, 16, 154)) }
                #priviewimage3:hover{cursor:pointer; transition:1.25s; transform:scale(1.15);
                    filter: drop-shadow(0px 12px 30px rgb(44, 16, 154));}

                    
    #research-div{}
        #gddseminar-div{}